@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/scss/Ripple.scss';
@import './assets/scss/Container.scss';

@layer components {
  .input {
    border-radius: 6px;
  }

  :is(.btn-fill, .btn-light, .btn-whitebg, .btn-contur, .btn-default) {
    border-radius: 6px;
    font-size: 14px;
    font-weight  : 500;

  }
}