:root {
  --section-width     : calc(100vw - 30px);
  --section-gap-top   : 20px;
  --section-gap-bottom: 20px;

  @media(min-width: theme('screens.xl')) {
    --section-width: theme('container.xl');
  }
}

dialog,
section,
header,
footer {
  padding: 0 calc(50% - var(--section-width) / 2);
}

section {
  padding-top   : var(--section-gap-top);
  padding-bottom: var(--section-gap-bottom);
}