.header {
  position     : sticky;
  top          : 0;
  padding-left : 0;
  border-bottom: 1px solid theme('colors.gray');
  z-index      : theme('zIndex[5]');

  @media(min-width: 1350px) {
    --section-width: 1320px;
  }


}

.user {
  width        : 300px;
  padding-right: 8px;
  padding-left : 16px;

}