.table {
  page-break-inside:auto;
  width       : 100%;
  // tbody {
  //   display: contents;
  // }
}

.table-wrapper {
  width        : calc(100% + 30px);
  overflow     : auto;
  margin-left  : -15px;
  padding-right: 15px;
  padding-left : 15px;
}

.cell {
  min-width : max-content;
  padding   : 8px 12px;
  background: theme('colors.l3');
  border    : 1px solid theme('colors.default / 15%');

  @media (max-width:theme('screens.sm')) {
    padding: 4px 6px;
  }
}

.table.x-borderless .cell:not(:first-of-type) {
  border-left : none;
}

.table.x-borderless .cell:not(:last-of-type) {
  border-right: none;
}

.row {
  page-break-inside:avoid; 
  page-break-after:auto;
}
