.sidebar {
  display: flex;
  flex-direction: column;
  position     : fixed;
  top          : 0;
  left         : 0;
  width        : 300px;
  height       : 100%;
  overflow     : hidden;
  padding-top  : 60px;
  padding-right: 8px;
  padding-left : 8px;
  transition   : .3s;
  z-index      : theme('zIndex[4]');

  &:not(.open) {
    width        : 52px;
    padding-right: 4px;
    padding-left : 4px;
  }


}

.sidebar-shadow {
  position  : fixed;
  inset     : 0;
  background: rgba(0, 0, 0, 0.5);
  transition: .2s ease;
  z-index   : theme('zIndex[3]');

  &:not(.open) {
    opacity       : 0;
    pointer-events: none;
  }
}