@import 'functions';

:root {
  // colors
  --primary-rgb : #{cl(#d21c4b)};
  --green-rgb   : #{cl(#009432)};
  --yellow-rgb  : #{cl(#f79f1f)};
  --blue-rgb    : #{cl(#497AC2)};
  --red-rgb     : #{cl(#d63031)};
  --orange-rgb     : #{cl(#CC6A4C)};
  --purple-rgb     : #{cl(#AF3AA0)};
  --white-rgb   : #{cl(#fff)};
  --black-rgb   : #{cl(#000)};

  // light / dark scheme
  --bg1-rgb     : #{cl(#F5F7FB)};
  --bg2-rgb     : #{cl(#F6F8FC)};
  --bg3-rgb     : #{cl(#fff)};
  --default-rgb : #{cl(#373737)};

  --font-base: 'SF Pro Display', Arial, Helvetica, sans-serif;
}

.dark {
  // light / dark scheme
  --bg1-rgb     : #{cl(#282828)};
  --bg2-rgb     : #{cl(#303030)};
  --bg3-rgb     : #{cl(#323232)};
  --default-rgb : #{cl(#fff)};
}

.default {
  --primary-rgb : #{cl(#d21c4b)};
}

.red {
  --primary-rgb : #{cl(#EA2027)};
}

.grass {
  --primary-rgb : #{cl(#009432)};
}

.purple {
  --primary-rgb : #{cl(#778beb)};
}

.sea {
  --primary-rgb : #{cl(#1289A7)};
}

.orange {
  --primary-rgb : #{cl(#d35400)};
}

body {
  --text-color  : #000;
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
  background    : theme('colors.l1');
  color         : theme('colors.default');
  font-family   : var(--font-base);


  * {
    outline: none;
  }
}

@layer components {
  .input {
    background  : theme('colors.l3');
    border-color: theme('colors.default / 20%');
    color       : theme('colors.default');
  }
}

@media print {
  // temp

  .dark,
  :root {
    --bg1-rgb     : #{cl(#F5F7FB)};
    --bg2-rgb     : #{cl(#F6F8FC)};
    --bg3-rgb     : #{cl(#fff)};
    --default-rgb : #{cl(#373737)};
  }

  body {
    --text-color: #000;
    background  : none;
    color       : var(--text-color);
  }

  [data-headlessui-portal][aria-hidden="true"],
  .root[aria-hidden="true"] {
    display: none;
  }
}

.root {
  display       : flex;
  flex-direction: column;
  flex-grow     : 1;

}

.filedrop {
  &-target {
    display: none;
    @apply transition absolute pointer-events-none opacity-0;

    &.over-frame {
      display: flex;
      @apply border border-primary bg-primary bg-opacity-10 z-2 pointer-events-auto opacity-100;
    }

    &.over-target {
      @apply bg-primary bg-opacity-20;
    }
  }
}

.air-datepicker-global-container {
  z-index: 2000;
}

.air-datepicker {
  --adp-accent-color                        : theme(colors.primary);
  --adp-cell-background-color-selected      : theme(colors.primary);
  --adp-cell-background-color-selected-hover: theme(colors.primary);
  --adp-day-name-color                      : theme(colors.yellow);
  --adp-day-name-color-hover                : theme(colors.primary / 10%);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.lk-tabs {
  display      : flex;
  gap          : 24px;
  margin-bottom: 16px;
  padding-left : 24px;
  border-radius: 12px;

  @media(max-width: 729.98px) {
    width        : calc(100% + 30px);
    margin-left  : -15px;
    padding-right: 15px;
    padding-left : 15px;
    border-radius: 0
  }

  &-item {
    padding-top   : 12px;
    padding-bottom: 12px;
    position      : relative;
    font-size     : 14px;

    &.active {
      font-weight: 600;
    }

    &.active:before {
      content      : "";
      position     : absolute;
      bottom       : 0;
      left         : 0;
      width        : 100%;
      height       : 3px;
      background   : theme('colors.primary');
      border-radius: 2px 2px 0 0
    }
  }
}

.truncate {
  @media print {
    overflow     : initial;
    text-overflow: initial;
    white-space  : initial;
  }
}