.content {
  display       : flex;
  flex-direction: column;
  flex-grow     : 1;

  @media(min-width: 1350px) {
    --section-width: 1320px;
  }

  @media(max-width: 1457px) {
    padding-left: 67px;
  }
}